header
{
    background-color: var(--background);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-top: none;
    display: flex;
    z-index: 100;
}
header .logo
{
    margin-left: 10px;
    height: 60px;
}
.menu-button
{
    font-weight: bolder;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    border-color: transparent;
    background-color: var(--background);
    color: var(--primary-text);
}
.status-button
{
    border: 1px solid;
    border-radius: 20px;
    padding: 4px 10px;
    margin-right: 10px;
    text-transform: uppercase;
}
.status-button.standby
{
    border-color: var(--weak-border);
    color: var(--muted-text);
}
/* Laptops */
@media (min-width: 1200px)
{
    header
    {
        justify-content: space-between;
        border-bottom: 1px solid var(--weak-border);
    }
}