header
{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-top: none;
    display: flex;
    z-index: 100;
}
header .logo
{
    margin: 10px;
    height: 60px;
}
.menu-button
{
    font-weight: bolder;
    padding: 10px;
    border-radius: 50%;
    border: none;
}
/* Laptops */
@media (min-width: 1200px)
{
    header
    {
        justify-content: space-between;
    }
}