body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--primary-text);
}
.item
{
    background-color: var(--item-background);
}
.x-axis
{
    color: var(--x-axis);
}
.y-axis
{
    color: var(--y-axis);
}
.primary-text
{
    color: var(--primary-text);
}
.secondary-text
{
    color: var(--secondary-text);
}
.strong-border
{
    border-color: var(--strong-border);
}
.weak-border
{
    border-color: var(--weak-border);
}
.primary-button
{
    background-color: var(--primary-button-background);
    color: var(--primary-button-text);
}
.secondary-button
{
    background-color: var(--secondary-button-background);
    color: var(--secondary-button-text);
}
/* Main section CSS */
main
{
    padding: 20px;
}
/* Container styling */
.container
{
    border: 1px solid var(--weak-border);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}