/* Navigation bar */
nav
{
    display: flex;
    align-items: center;
    background-color: transparent;
    top: 10px;
    left: 100px;
    right: 100px;
    border-bottom: none;
    height: 100%;
    z-index: 100;
}
/* Navigation bar is in header */
nav ul
{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0;
    padding: 8px 0;
    margin: 0;
    text-align: center;
}
/* Navigation bar list items */
nav ul li
{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}
/* Links in navigation menu */
nav a
{
    text-decoration: none;
    color: inhert; /* Can be var(--x-axis) */
    width: 100%;
}
/* Mobile phones */
@media (min-width: 600px) and (max-width: 989px)
{
    /* Navigation bar is not seen */
    nav
    {
        display: none;
    }
}
/* Tablets */
@media (min-width: 990px) and (max-width: 1199px)
{
    /* Navigation bar is not seen */
    nav
    {
        display: none;
    }
}
/* Laptops */
@media (min-width: 1200px)
{
    /* Navigation bar */
    nav
    {
        position: static;
        flex-direction: row;
    }
    /* Navigation bar unordered list */
    nav ul
    {
        flex-direction: row;
        height: 100%;
    }
    /* Navigation bar list items */
    nav ul li
    {
        height: 100%;
        width: auto;
    }
    /* Hover links */
    nav ul li:hover
    {
        font-weight: 400;
    }
    /* Active & focused links */
    nav ul li:active, nav ul li:focus
    {
        font-weight: 600;
        color: var(--y-axis);
        border-bottom: 2px solid var(--y-axis);
    }
    /* Navigation bar links */
    nav a
    {
        display: flex;
        align-items: center;
        padding: 0 20px;
        height: 100%;
    }
}