/* Navigation bar is in header */
nav.menu-tabs ul
{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
}
/* Navigation bar list items */
nav.menu-tabs ul li
{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}
/* Links in navigation menu */
nav.menu-tabs a
{
    text-decoration: none;
}
/* Mobile phones */
@media (min-width: 600px) and (max-width: 989px)
{
    /* Navigation bar is not seen */
    nav
    {
        display: none;
    }
}
/* Tablets */
@media (min-width: 990px) and (max-width: 1199px)
{
    /* Navigation bar is not seen */
    nav
    {
        display: none;
    }
}
/* Laptops */
@media (min-width: 1200px)
{
    /* Menu button is not seen in laptops */
    .menu-button
    {
        display: none;
    }
}