:root[data-theme="dark"]
{
    /* Color for each axes */
    --x-axis: #00e5ff;
    --y-axis: #ff4081;
    /* Background colors */
    --background: #080c10;
    --surface-background: ##0e1419;
    --item-background: #080c10;
    --primary-button-background: #00e5ff;
    --secondary-button-background: transparent;
    --status-button-background: transparent;
    /* Text colors */
    --primary-text: #cde8f5;
    --secondary-text: #7ab8d4;
    --muted-text: #3a5068;
    --primary-button-text: #080c10;
    --secondary-button-text: #3a5068;
    --idle-status: #3a5068;
    --active-status: #00e5ff;
    /* Border colors */
    --strong-border: #1c2a38;
    --weak-border: #3a5068;
    --secondary-button-border: #1c2a38;
}